*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

body{
    background-color: rgb(92, 207, 117);
}

main {
    background-color: blanchedalmond;
    width: 500px;
    margin: auto;
    padding: 10-x;
    box-shadow: 3px 3px 5px black;

}